<ul class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3" id="product-list">
  {{#each docs}}
  <div class="col" id="product-card-{{_id}}">
    <ul class="list-group h-100 card-item d-flex flex-column">
      <li class="list-group-item"><span>id: </span>{{_id}}</li>
      <li class="list-group-item"><span>title: </span>{{title}}</li>
      <li class="list-group-item"><span>description: </span>{{description}}</li>
      <li class="list-group-item"><span>price: </span>{{price}}</li>
      <li class="list-group-item"><span>thumbnail: </span>{{thumbnail}}</li>
      <li class="list-group-item"><span>code: </span>{{code}}</li>
      <li class="list-group-item"><span>stock: </span>{{stock}}</li>
      <li class="list-group-item"><span>status: </span>{{status}}</li>
      <li class="list-group-item"><span>category: </span>{{category}}</li>
      <div class="mt-auto ">
        <button class="btn btn-primary w-100 mb-2 mt-2">Añadir al carrito</button>
      </div>
    </ul>
  </div>
  {{/each}}
</ul>