<div>

  {{#if prevLink}}
  <button id="prev-button" data-link="{{prevLink}}">Página Anterior</button>
  {{else}}
  <button id="prev-button" disabled>Página Anterior</button>
  {{/if}}
  <span>Página {{page}} de {{totalPages}}</span>

  {{#if nextLink}}
  <button id="next-button" data-link="{{nextLink}}">Página Siguiente</button>
  {{else}}
  <button id="next-button" disabled>Página Siguiente</button>
  {{/if}}


</div>

<script>

  document.getElementById('prev-button').addEventListener('click', function() {
      const link = this.getAttribute('data-link');
      if (link) {
        window.location.href = link;
      }
    });

    document.getElementById('next-button').addEventListener('click', function() {
      const link = this.getAttribute('data-link');
      if (link) {
        window.location.href = link;
      }
    });
</script>