<p>Product pagination{{nextPage}}</p>

<div>


  <a href="{{prevLink}}" class="pagination-button {{#unless prevLink}}disabled{{/unless}}">Página anterior</a>
  <span>Página {{page}} de {{totalPages}}</span>
  <a href="{{nextLink}}" class="pagination-button {{#unless nextLink}}disabled{{/unless}}">Página siguiente</a>

</div>

<script>


</script>